[CREDS]
mail=#your mail to notify musicbrainz about your identity
[SETTINGS]
a_refresh=true #true or false
a_refresh_time=3d4h50m #$d$h$m $ -> number
tg_id=#telegram chat/user id
tg_token=#telegram bot token
d_past=7 #number of days in the past to add to the rss feed
d_fut=14 #number of days in the future to add the rss feed
[PATHS]
rss=/path/to/mb_releases/out/file.rss #you can output multiple rss files separated by comma
ics=/path/to/mb_releases/out/file.ics #you can output multiple ics files separated by comma
db=/path/to/mb_releases/db/music.db